# Maven / Java
target/
*.class
*.log
*.ctxt

# Spring Boot
*.pid
*.seed
*.pid.lock

# Entorno local
.env

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
tmp/
temp/
*.swp
*.swo

# Herramientas locales
.tools/

# Uploads locales
uploads/*
!uploads/users/
uploads/users/*
!uploads/users/.gitkeep
