<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark ff-navbar" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand fw-semibold" th:href="@{/}">FlacoFitness</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Abrir navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rutinas}">Rutinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pagos}">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/asistencias}">Asistencias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
